/* 10px / 16px = 0.625 = 62.5% */
/* 9px / 16px = 0.5625 = 56.25% */
/* 8px / 16px = 0.5 = 50% */
/* 7px / 16px = 0.4375 = 43.75% */
/* 6px / 16px = 0.375 = 37.5% */
/* 5px / 16px = 0.3125 = 31.25% */

/* 1800px => 112.5em */
@media only screen and (min-width: 1800px) {}

/* 1800px => 112.5em */
@media only screen and (max-width: 1799.50px) {
    .container {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 2.5%;
    }
}


/* 1400px => 87.5em => X-Large devices (large desktops, less than 1400px)*/
@media only screen and (max-width: 1400px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 2.5%;
    }
}

/* 1200px => 75em => Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1200px) {
    .container {
        max-width: 992px;
        margin: 0 auto;
        padding: 0 2.5%;
    }

    html {
        font-size: 53.3%;
    }
}

/* 992px => 62em => Medium devices (tablets, less than 992px)*/
@media only screen and (max-width: 992px) {
    html {
        font-size: 50%;
    }

    .grid--2-col {
        grid-template-columns: 1fr;
    }

    .hero-content {
        text-align: center;
    }

    .hero-buttons,
    .hero-delivered {
        justify-content: center;
    }

    .hero-boximg {
        width: 80%;
        justify-self: center;
        align-self: center;
    }

    .how-content div:nth-child(2) {
        grid-row: 1;
    }
    .how-content div:nth-child(6) {
        grid-row: 5;
    }

    .how-description {
        width: 70%;
    }

    .testimonials {
        grid-template-columns: 1fr;
    }

    .testimonials-gallery {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid--4-col {
        grid-template-columns: repeat(2, 1fr);
    }

    .features-section {
        padding: 9.6rem 2rem;
    }

    .cta {
        grid-template-rows: 550px 1fr;
        grid-template-columns: repeat(1, 1fr);
    }

    .cta-img {
        grid-row: 1;
    }

    .cta-img img {
        height: auto;
        transform: translateY(-13rem);

    }

    .cta-text {
        grid-column: 1;
    }

    .footer {
        display: grid;
        gap: 6.4rem;
        grid-template-columns: repeat(6, 1fr);
        justify-items: center;
    }

    .footer-item:nth-child(1) {
        grid-row: 1;
        grid-column: span 2;
    }

    .footer-item:nth-child(2) {
        grid-row: 1;
        grid-column: span 2;
    }

    .footer-item:nth-child(3) {
        grid-row: 1;
        grid-column: span 2;
    }

    .footer-item:nth-child(4) {
        grid-row: 2;
        grid-column: span 3;
    }

    .footer-item:nth-child(5) {
        grid-row: 2;
        grid-column: span 3;
    }

}

/* 768px => 48em => Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 768px) {
    html {
        font-size: 43.75%;
    }

    .btn-primary,
    .btn-primary:link,
    .btn-primary:visited {
        padding: 2rem 1.5em;
    }

    .btn-outline,
    .btn-outline:link,
    .btn-outline:visited {
        padding: 2rem;
    }

    .hero-boximg {
        width: 70%;
    }

    .nav-mobile {
        display: flex;
        z-index: 1;
    }

    .header {
        position: relative;
        padding: 2.7rem 3rem;
    }

    .header-nav {
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(255, 255, 255, 0.97);
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: all .3s;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
    }

    .nav-mobile--open .header-nav {
        transform: translateX(0);
    }

    .nav-mobile--open .nav-icon-open {
        display: none;
    }

    .nav-mobile--open .nav-icon-close {
        display: block;
    }

    .pricing-section {
        padding: 9.6rem 2rem;
    }

    .cta {
        grid-template-rows: 400px 1fr;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* 576px => 36em => X-Small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 576px) {
    html {
        font-size: 37.5%;
    }

    .how-description {
        width: 100%;
    }

    .meals-container {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }

    .testimonials-text {
        padding: 9.6rem 2rem;
        align-self: center;
    }

    .pricing-item {
        width: 35rem;
    }

    .grid--4-col {
        grid-template-columns: repeat(1, 1fr);
    }

    .cta-img img {
        height: auto;
        transform: translateY(-5rem);
    }

    .cta {
        grid-template-rows: 270px 1fr;
        grid-template-columns: repeat(1, 1fr);
    }

    .cta-text {
        padding: 0 36px 36px;
    }
    .footer {
        display: grid;
        gap: 6.4rem;
        grid-template-columns: repeat(2, 1fr);
        justify-items: unset;
        padding: 0 30px;
    }

    .footer-item:nth-child(1),
    .footer-item:nth-child(2),
    .footer-item:nth-child(3),
    .footer-item:nth-child(4),
    .footer-item:nth-child(5){
        grid-row: unset;
        grid-column: unset;
        flex-grow: 0;
        width: 110px;
    }

}

/* 360px => 22.5em => X-Small devices (mini phones, less than 576px)*/
@media only screen and (max-width: 360px) {
    html {
        font-size: 31.25%;
    }
}